// Yeti 5.3.8
// Bootswatch

$theme: "yeti";

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ccc;
$gray-500: #adb5bd;
$gray-600: #888;
$gray-700: #495057;
$gray-800: #333;
$gray-900: #222;
$black:    #000;

$blue:    #008cba;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #ad5123;
$orange:  #fd7e14;
$yellow:  #bd8817;
$green:   #43ac6a;
$teal:    #20c997;
$cyan:    #3b788a;

$primary:       $purple;
$secondary:     $gray-200;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-200;
$dark:          $gray-800;

$min-contrast-ratio:   1.9;

// Components

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-weight:        300;
$font-weight-bold: bold;
$font-size-sm: 12.75px;

// Tables

$table-color:                 initial;
$table-bg-scale:              0%;

// Buttons

$input-btn-padding-x:         .5rem;
$btn-font-weight:             300;

// Dropdowns

$dropdown-border-color:             rgba($black, .1);
$dropdown-divider-bg:               rgba($black, .1);

// Navbar

$navbar-dark-color:                 rgba($white, .7);
$navbar-dark-hover-color:           $white;

// Pagination

$pagination-color:                  $gray-600;
// $pagination-border-color:           $nav-tabs-border-color;
$pagination-active-border-color:    darken($primary, 5%);
$pagination-disabled-bg:            transparent;
$pagination-disabled-color:         $gray-400;

// Cards

$card-inner-border-radius:          0;

// Badges

$badge-font-weight:                 300;
$badge-padding-x:                   1rem;

// Alerts

$alert-link-font-weight:            400;

// Breadcrumbs

$breadcrumb-padding-y:              .75rem;
$breadcrumb-padding-x:              1rem;
$breadcrumb-border-radius:          3px;

// Close

$btn-close-color:            $gray-600;
$btn-close-opacity:          .6;
$btn-close-hover-opacity:    1;
